.vscode
.vs/

/[Ll]ogs/
/[Tt]emp/
/[Ll]ibrary/
/[Oo]bj/
/[Bb]uild/
/[Uu]ser/
/[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pdb
*.mdb

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
